body{
  background-color: #0f0f0f;
  padding: 0;
  margin: 0;
}

.playerHeadDiv{
  background-color: #0f0f0f;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.Player{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Player h5{
  width: 100%;
}
.video-responsive {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
  }
  
  .video-responsive iframe {
    left: 10%;
    width: 100%;
    top: 10%;
  }
  
  /* From Description.js */
  .anchorTagToWatchOnYoutube{
    color: white;
  }

  /* From Suggested Vide */
  .suggestedVideoSingle{
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    margin-bottom: 16px;
  }
  .suggestedVideoImage{
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  .suggestedVideoTextDiv{
    display: flex;
    flex-direction: column;
  }

  /* Other Components For Iframe */
  .accordionDesc{
    min-width: 100%;
    color: #212121;
  }

  .aInAccordion{
    color: white;
    text-decoration: none;
  }

  .cardInAccordion{
    color: white;
    background: #212121;
  }

  @media screen and (max-width: 786px) {
    .playerHeadDiv{
      flex-direction: column;
    }
  }

  @media screen and (max-width: 425px) {

    .suggestedVideoImage{
      /* max-width: 200px; */
      /* min-width: 200px; */
    }

    .suggestedVideoTextDiv{
      width: 50%;
    }
  }