
.unplayedVideoDiv img{
    border-radius: 25px;
    position: relative;
}
.unplayedVideoDiv{
    overflow: hidden;
    text-align: left;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainDivVideos{
    display: flex;
    justify-content: space-evenly;
}

.infinityScrollVideoUnplayed{
    background-color: #0f0f0f;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}

.divInsideInfinityScrollVideoUnplayed{
    width: 100%;
}